@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

:root{
    --body:#000;
    --nav-input-color: rgb(127, 127, 127);
    --text-color: rgb(255, 255, 255);
    --paragraph-color:rgb(163, 163, 163);
    --button-background-color:#01a081;
    --button-text-color:rgb(30, 30, 30);
}

button
{
  background-color: #02A388;
  color: white;
  border-radius: 5px;
  box-shadow: 0;
  border: 0;
}

button:hover{
  background-color: #027d65;
  cursor: pointer;
}

a{
  color: #02A388;
  text-decoration: none;
  font-weight: 600;
}

.custom-header {
  background-color: black;
}

::placeholder {
  color: gray;
  opacity: 1;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

button:disabled:hover {
  background-color: transparent;
  color: inherit;
}